.learn-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}
.learn-section-heading {
    margin-bottom: 10px;
    color: #111212;
    font-size: 25px;
}
.horizontal-line {
    width: 6%;
    margin-top: 0px;
    border: 2px solid #4c0a8f;
    border-radius: 4px;
} 
.learn-cards-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-card {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
}
.learn-card-header {
    background-color: #380478;
    color: #eee6f7;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    margin: 0px;
}
.learn-card-footer {
    background-color: #380478;
    color: #eee6f7;
    padding: 6px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
}
.learn-list-items-container {
    list-style-type: square;
    text-align: left;
    height: 205px;
}
.list-item {
    color: #706f70;
    font-weight: 400;
    font-size: 13px;
}
.list-category-heading {
    margin: 5px 0px;
    font-weight: 500;
    font-size: 15px;
}