.choose-card-item-container {
    background-color: #d9ecfa;
    padding: 20px;
    width: 13%;
    height: 220px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}
.choose-card-icon {
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.choose-card-title {
    color: #b16ff2;
    font-size: 14px;
}
.choose-card-description {
    color: #676569;
    font-size: 12px;
}